.mmmytop {
    margin-top: 30px;
}


[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}


.mybgimg {
    /*background: url("../img/bgm.jpg") no-repeat;*/
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: #e5e5e5;
}

.mmmytop2 {
    margin-top: 38px;
}

.mmmytop3 {
    margin-top: 38px;
}

.mywidth {
    margin: 0 auto;
    width: 80%;
    margin-top: 15px;
}

.mybuttion {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

