<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
</head>
<body> 
<!--header-->
<div class="header">
		<div class="header-top">
			<div class="container">
				<ul>
					<li ><a href="#" ><span > </span>info@cemotion.com</a></li>
					<li class="tele-in"><a href="#" ><span > </span>0 462 261 61 61</a></li>			
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="header-bottom">
			<div class="container">			
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt=" " /></a>
				</div>
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li  ><a href="index.html" class="scroll">HOMEPAGE </a></li>
						<li><a href="about.html" class="scroll">ABOUT US</a></li>
						<li><a href="services.html" class="scroll">SERVICES  </a></li>
						<li><a href="project.html" class="scroll">PROJECTS</a></li>
						<li><a href="references.html" class="scroll">REFERENCES</a></li>
						<li><a href="blog.html" class="scroll">BLOG</a></li>
						<li><a href="contact.html" class="scroll">CONTACT US</a></li>
					</ul>
					<!-- script-nav -->
					<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	</div>
	<!--content-->
	<div class="content">
		<div class="container">
			<div class="blog-grid">
				<div class="col-md-9">
					<div class="single-grid">
					<img class="img-responsive" src="images/b1.jpg" alt="" />
					<div class="lone-line">
						<h4>Social Sense Perception of Loneliness</h4>
						<ul class="sin-grid">
							<li><a href="#"><span class="clock"> </span>08.09.2014</a></li>
							<li><a href="#"><span class="comment"> </span>5 Comment</a></li>
							<li><a href="#"><span class="share"> </span>Share</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</p>
						<p class="due">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusanl</p>
						<a class="startnow single-now" href="#">READ MORE</a>
					</div>
					</div>
					<div class="single-grid">
					<img class="img-responsive" src="images/b2.jpg" alt="" />
					<div class="lone-line">
						<h4>Social Sense Perception of Loneliness</h4>
						<ul class="sin-grid">
							<li><a href="#"><span class="clock"> </span>08.09.2014</a></li>
							<li><a href="#"><span class="comment"> </span>5 Comment</a></li>
							<li><a href="#"><span class="share"> </span>Share</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</p>
						<p class="due">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusanl</p>
						<a class="startnow single-now" href="#">READ MORE</a>
					</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="grid-categories">
						<div class="cate-top">
						<h4>CATEGORIES</h4>
						<ul class="popular">
							<li><a href="#"><span class="dot"> </span>Apple  ( 11 ) </a></li>
							<li><a href="#"><span class="dot"> </span>E-Ticaret  ( 7 )</a></li>
							<li><a href="#"><span class="dot"> </span>Facebook  ( 7 )</a></li>
							<li><a href="#"><span class="dot"> </span>Genel  ( 26 )</a></li>
							<li><a href="#"><span class="dot"> </span>Google  ( 16 )</a> </li>
							<li><a href="#"><span class="dot"> </span>Anceleme  ( 1 )</a></li>
							<li><a href="#"><span class="dot"> </span>Anternet  ( 31 )</a></li>
							<li><a href="#"><span class="dot"> </span>Microsoft  ( 2 )</a></li>
							<li><a href="#"><span class="dot"> </span>Mobil  ( 19 )</a></li>
							<li><a href="#"><span class="dot"> </span>Samsung  ( 5 )</a></li>
							<li><a href="#"><span class="dot"> </span>Tasarım  ( 9 )</a></li>
							<li><a href="#"><span class="dot"> </span>Teknoloji  ( 20 )</a></li>
							<li><a href="#"><span class="dot"> </span>Twitter  ( 3 )</a></li>
							<li><a href="#"><span class="dot"> </span>Twitter  ( 3 )</a></li>
						</ul>
					</div>
					<div class="cate-top">
						<h4>FACEBOOK</h4>
						<div class="cate-img">
						<img class="img-responsive" src="images/b4.jpg" alt="" />
						</div>
					</div>
					<div class="cate-top">
						<h4>TWITTER</h4>
						<div class="cate-img">
						<img class="img-responsive" src="images/b5.jpg" alt="" />
						</div>
					</div>
					<div class="cate-top">
						<h4>LAST COMMENTS</h4>
						<div class="cate-cate">						
							<div class="head-sin">
								<h6><span class="dot"> </span>Design Blog is Online</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
							<div class="head-sin">
								<h6><span class="dot"> </span>Design Blog is Online</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
							<div class="head-sin">
								<h6><span class="dot"> </span>Design Blog is Online</h6>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
							</div>
						</div>
					</div>
					<div class="cate-top">
						<h4>LABELS</h4>
						<div class="cate-cate cate-in">
							<p>#AmazonBasket, #AmazonCart, ak sedef plastik, alan adı, amazon, android,  apple,  apple,  store,  avcipaintball,  apple,  store,  avcipaintball ,  beats,  cv,  domain,  e-ticaret esperanto cafe,  facebook,  foursqaure,  gmail google,  google glass,  google now,  grancafe hafriyat , instagram,  internet , inşaat,  ios microsoft , mobil , nokia , paintball </p>
						</div>
							</div>
			</div>
				</div>
			<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="footer">
		<div class="container">
				<div class="footer-class">
				<div class="class-footer">
					<ul>
						<li  ><a href="index.html" class="scroll">HOMEPAGE</a>  <span>|</span> </li>
						<li><a href="about.html" class="scroll">ABOUT US </a><span>|</span></li>
						<li><a href="services.html" class="scroll">SERVICES</a>  <span>|</span></li>
						<li><a href="project.html" class="scroll">PROJECTS</a> <span>|</span></li>
						<li><a href="references.html" class="scroll">REFERENCES</a> <span>|</span></li>
						<li><a href="blog.html" class="scroll">BLOG </a><span>|</span></li>
						<li><a href="contact.html" class="scroll">CONTACT US </a></li>
					</ul>
					 <p class="footer-grid">Copyright &copy; 2014.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>	 
					 <ul class="social-ic-icons">
						<li class="facebook"><a href="#"><span> </span></a></li>
						<li class="twitter"><a href="#"><span> </span></a></li>
						<li class="inline"><a href="#"><span> </span></a></li>
						<li class="camera"><a href="#"><span> </span></a></li>
						<li class="been"><a href="#"><span> </span></a></li>
						<li class="print"><a href="#"><span> </span></a></li>
						<li class="skype"><a href="#"><span> </span></a></li>
						<li class="gmail"><a href="#"><span> </span></a></li>
						
					</ul>
				<div class="clearfix"> </div>
			 	</div>
		 </div>
	</div>

</body>
</html>