<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts
</head>
<body> 
<!--header-->
<div class="header">
		<div class="header-top">
			<div class="container">
				<ul>
					<li ><a href="#" ><span > </span>info@cemotion.com</a></li>
					<li class="tele-in"><a href="#" ><span > </span>0 462 261 61 61</a></li>			
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="header-bottom">
			<div class="container">			
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt=" " /></a>
				</div>
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li  ><a href="index.html" class="scroll">HOMEPAGE </a></li>
						<li><a href="about.html" class="scroll">ABOUT US</a></li>
						<li><a href="services.html" class="scroll">SERVICES  </a></li>
						<li><a href="project.html" class="scroll">PROJECTS</a></li>
						<li><a href="references.html" class="scroll">REFERENCES</a></li>
						<li><a href="blog.html" class="scroll">BLOG</a></li>
						<li><a href="contact.html" class="scroll">CONTACT US</a></li>
					</ul>
					<!-- script-nav -->
					<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	</div>
	<!--content-->
	<div class="content">
		<div class="container">
			<div class="contact">
			<div class="col-md-7 contact-para">
			<p class="class-para">The information necessary to shape your project by sharing our opinions with us can learn or get a price quote.The information necessary to shape.</p>	
			<h5>CONTACT FORM</h5>
			<form>
				<div class="grid-contact">
					<div class="col-md-6 contact-grid">
						<p class="your-para">NAME SURNAME</p>
						<li class="list-grid">
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<span class="icon"> </span>
							<div class="clearfix"> </div>
						</li>
						</div>
					<div class="col-md-6 contact-grid">
					<p class="your-para">E-MAIL ADDRESS</p>
						<li class="list-grid">
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<span class="icon icon-name"> </span>
							<div class="clearfix"> </div>
						</li>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="grid-contact">
					<div class="col-md-6 contact-grid">
						<p class="your-para">TELEPHONE</p>
						<li class="list-grid">
							<input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
							<span class="icon icon-phone"> </span>
							<div class="clearfix"> </div>
						</li>
						</div>
					<div class="col-md-6 contact-grid">
					<p class="your-para">WHICH DEPARTMENT</p>
					<li class="list-grid">
							<p>Marketing - Sales Department</p>
							<img class="sale-arrow" src="images/arrow.png" alt=""/>
							<div class="clearfix"> </div>
					</li>
					</div>
					<div class="clearfix"> </div>
				</div>
				<p class="your-para msg-para">MESSAGE</p>
								<textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
								<div class="send">
								<input type="submit" value="SENT MESSAGE" >
								</div>
			</form>
			</div>	
			<div class="col-md-5 contact-map">
			<h5>GOOGLE-MAP</h5>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37494223.23909492!2d103!3d55!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x453c569a896724fb%3A0x1409fdf86611f613!2sRussia!5e0!3m2!1sen!2sin!4v1415776049771"></iframe>

			</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--footer-->
	<div class="footer">
		<div class="container">
				<div class="footer-class">
				<div class="class-footer">
					<ul>
						<li  ><a href="index.html" class="scroll">HOMEPAGE</a>  <span>|</span> </li>
						<li><a href="about.html" class="scroll">ABOUT US </a><span>|</span></li>
						<li><a href="services.html" class="scroll">SERVICES</a>  <span>|</span></li>
						<li><a href="project.html" class="scroll">PROJECTS</a> <span>|</span></li>
						<li><a href="references.html" class="scroll">REFERENCES</a> <span>|</span></li>
						<li><a href="blog.html" class="scroll">BLOG </a><span>|</span></li>
						<li><a href="contact.html" class="scroll">CONTACT US </a></li>
					</ul>
					 <p class="footer-grid">Copyright &copy; 2014.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>	 
					 <ul class="social-ic-icons">
						<li class="facebook"><a href="#"><span> </span></a></li>
						<li class="twitter"><a href="#"><span> </span></a></li>
						<li class="inline"><a href="#"><span> </span></a></li>
						<li class="camera"><a href="#"><span> </span></a></li>
						<li class="been"><a href="#"><span> </span></a></li>
						<li class="print"><a href="#"><span> </span></a></li>
						<li class="skype"><a href="#"><span> </span></a></li>
						<li class="gmail"><a href="#"><span> </span></a></li>
						
					</ul>
				<div class="clearfix"> </div>
			 	</div>
		 </div>
	</div>

</body>
</html>