<!DOCTYPE html>
<html>
<head>
<title>References</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="js/jquery.easydropdown.js"></script>
</head>
<body> 
<!--header-->
<div class="header">
		<div class="header-top">
			<div class="container">
				<ul>
					<li ><a href="#" ><span > </span>info@cemotion.com</a></li>
					<li class="tele-in"><a href="#" ><span > </span>0 462 261 61 61</a></li>			
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="header-bottom">
			<div class="container">			
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt=" " /></a>
				</div>
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li  ><a href="index.html" class="scroll">HOMEPAGE </a></li>
						<li><a href="about.html" class="scroll">ABOUT US</a></li>
						<li><a href="services.html" class="scroll">SERVICES  </a></li>
						<li><a href="project.html" class="scroll">PROJECTS</a></li>
						<li><a href="references.html" class="scroll">REFERENCES</a></li>
						<li><a href="blog.html" class="scroll">BLOG</a></li>
						<li><a href="contact.html" class="scroll">CONTACT US</a></li>
					</ul>
					<!-- script-nav -->
					<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	</div>
	<!--content-->
	<div class="content">
		<div class="container">
			<div class="references">
			<div class="down-top ">
						<img class="arrow" src="images/arrow.png" alt=""/>
						 <select tabindex="4" class="dropdown">
						 	<option value="" class="label" value="">CORPORATE</option>
							<option value="1">Sed ut</option>
							<option value="2">eaque ipsa</option>
							<option value="3">Nemo enim</option>
						  </select>
					 </div>	
					 <div class="clearfix"> </div>
						<div class="refer-wrapper ">		
							<div class=" refer"><a href="#"><img class="img-responsive" src="images/ps1.png" alt=""  /></a>
							<div class="simple grid-simple">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class="  refer "><a href="#"><img class="img-responsive" src="images/ps2.png" alt=""  /></a>
							<div class="simple grid-simple simple-1">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps3.png" alt=""  /></a>
							<div class="simple grid-simple simple-2">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps4.png" alt=""  /></a>
							<div class="simple grid-simple simple-3">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps5.png" alt=""  /></a>
							<div class="simple grid-simple simple-4">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps6.png" alt=""  /></a>
							<div class="simple grid-simple simple-5">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps7.png" alt=""  /></a>
							<div class="simple grid-simple simple-6">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps8.png" alt=""  /></a>
							<div class="simple grid-simple simple-7">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps9.png" alt=""  /></a>
							<div class="simple grid-simple simple-8">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps10.png" alt=""  /></a>
							<div class="simple grid-simple simple-9">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps12.png" alt=""  /></a>
							<div class="simple grid-simple simple-10">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class=" refer "><a href="#"><img class="img-responsive" src="images/ps13.png" alt=""  /></a>
							<div class="simple grid-simple simple-11">
						    	<img  src="images/ca.png" alt=""  /> 
						    	<h5>MATPARKE FURNITURE</h5>
						    	<p>GRAPHIC DESIGN</p>
						    </div>
							</div>
							<div class="clearfix"> </div>
							</div>
							
		</div>
	</div>
	<!--footer-->
	<div class="footer">
		<div class="container">
				<div class="footer-class">
				<div class="class-footer">
					<ul>
						<li  ><a href="index.html" class="scroll">HOMEPAGE</a>  <span>|</span> </li>
						<li><a href="about.html" class="scroll">ABOUT US </a><span>|</span></li>
						<li><a href="services.html" class="scroll">SERVICES</a>  <span>|</span></li>
						<li><a href="project.html" class="scroll">PROJECTS</a> <span>|</span></li>
						<li><a href="references.html" class="scroll">REFERENCES</a> <span>|</span></li>
						<li><a href="blog.html" class="scroll">BLOG </a><span>|</span></li>
						<li><a href="contact.html" class="scroll">CONTACT US </a></li>
					</ul>
					 <p class="footer-grid">Copyright &copy; 2014.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>	 
					 <ul class="social-ic-icons">
						<li class="facebook"><a href="#"><span> </span></a></li>
						<li class="twitter"><a href="#"><span> </span></a></li>
						<li class="inline"><a href="#"><span> </span></a></li>
						<li class="camera"><a href="#"><span> </span></a></li>
						<li class="been"><a href="#"><span> </span></a></li>
						<li class="print"><a href="#"><span> </span></a></li>
						<li class="skype"><a href="#"><span> </span></a></li>
						<li class="gmail"><a href="#"><span> </span></a></li>
						
					</ul>
				<div class="clearfix"> </div>
			 	</div>
		 </div>
	</div>

</body>
</html>