<!DOCTYPE html>
<html>
<head>
<title>Services</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
</head>
<body> 
<!--header-->
<div class="header">
		<div class="header-top">
			<div class="container">
				<ul>
					<li ><a href="#" ><span > </span>info@cemotion.com</a></li>
					<li class="tele-in"><a href="#" ><span > </span>0 462 261 61 61</a></li>			
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="header-bottom">
			<div class="container">			
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt=" " /></a>
				</div>
				<div class="top-nav">
					<span class="menu"> </span>
					<ul>
						<li  ><a href="index.html" class="scroll">HOMEPAGE </a></li>
						<li><a href="about.html" class="scroll">ABOUT US</a></li>
						<li><a href="services.html" class="scroll">SERVICES  </a></li>
						<li><a href="project.html" class="scroll">PROJECTS</a></li>
						<li><a href="references.html" class="scroll">REFERENCES</a></li>
						<li><a href="blog.html" class="scroll">BLOG</a></li>
						<li><a href="contact.html" class="scroll">CONTACT US</a></li>
					</ul>
					<!-- script-nav -->
					<script>
					$("span.menu").click(function(){
						$(".top-nav ul").slideToggle(500, function(){
						});
					});
			</script>
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	</div>
	<!--content-->
	<div class="content">
		<div class="container">
			<div class="services">
			<span class="ser-in"> </span>			
				<div class="service-grid-top">			
					<img class="img-responsive service-grid"  src="images/Pe.png" alt="" />
				<div class="service-grid-left">
					<span>CREATIVE</span>
					<h5>GRAPHIC DESIGN</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Ut enim ad minim veniam, quis nostrud</p>
				</div>
			<div class="clearfix"> </div>
			</div>
			<span class="ser-in-in"> </span>
			<div class="service-grid-top">			
				<div class="service-grid-left left-services">
					<span>CREATIVE</span>
					<h5>GRAPHIC DESIGN</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Ut enim ad minim veniam, quis nostrud</p>
				</div>
				<img class="img-responsive service-grid-right"  src="images/Pe1.png" alt="" />
			<div class="clearfix"> </div>
			</div>
			<span class="ser-in"> </span>
			<div class="service-grid-top">			
					<img class="img-responsive service-grid"  src="images/Pe2.png" alt="" />
				<div class="service-grid-left">
					<span>CREATIVE</span>
					<h5>GRAPHIC DESIGN</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Ut enim ad minim veniam, quis nostrud</p>
				</div>
			<div class="clearfix"> </div>
			</div>
			<span class="ser-in-in"> </span>
			<div class="service-grid-top">			
				<div class="service-grid-left left-services">
					<span>CREATIVE</span>
					<h5>GRAPHIC DESIGN</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Ut enim ad minim veniam, quis nostrud</p>
				</div>
				<img class="img-responsive service-grid-right"  src="images/Pe3.png" alt="" />
			<div class="clearfix"> </div>
			</div>
			<span class="ser-in"> </span>
			<div class="service-grid-top">			
					<img class="img-responsive service-grid"  src="images/Pe4.png" alt="" />
				<div class="service-grid-left">
					<span>CREATIVE</span>
					<h5>GRAPHIC DESIGN</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Ut enim ad minim veniam, quis nostrud</p>
				</div>
			<div class="clearfix"> </div>
			</div>
			<span class="ser-in-in"> </span>
			<div class="service-grid-top">			
				<div class="service-grid-left left-services">
					<span>CREATIVE</span>
					<h5>GRAPHIC DESIGN</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip Ut enim ad minim veniam, quis nostrud</p>
				</div>
				<img class="img-responsive service-grid-right"  src="images/Pe5.png" alt="" />
			<div class="clearfix"> </div>
			</div>
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="footer">
		<div class="container">
				<div class="footer-class">
				<div class="class-footer">
					<ul>
						<li  ><a href="index.html" class="scroll">HOMEPAGE</a>  <span>|</span> </li>
						<li><a href="about.html" class="scroll">ABOUT US </a><span>|</span></li>
						<li><a href="services.html" class="scroll">SERVICES</a>  <span>|</span></li>
						<li><a href="project.html" class="scroll">PROJECTS</a> <span>|</span></li>
						<li><a href="references.html" class="scroll">REFERENCES</a> <span>|</span></li>
						<li><a href="blog.html" class="scroll">BLOG </a><span>|</span></li>
						<li><a href="contact.html" class="scroll">CONTACT US </a></li>
					</ul>
					 <p class="footer-grid">Copyright &copy; 2014.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div>	 
					 <ul class="social-ic-icons">
						<li class="facebook"><a href="#"><span> </span></a></li>
						<li class="twitter"><a href="#"><span> </span></a></li>
						<li class="inline"><a href="#"><span> </span></a></li>
						<li class="camera"><a href="#"><span> </span></a></li>
						<li class="been"><a href="#"><span> </span></a></li>
						<li class="print"><a href="#"><span> </span></a></li>
						<li class="skype"><a href="#"><span> </span></a></li>
						<li class="gmail"><a href="#"><span> </span></a></li>
						
					</ul>
				<div class="clearfix"> </div>
			 	</div>
		 </div>
	</div>

</body>
</html>