{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}" >

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>KOC EBA2018 线上报名</title>
</head>
<body class="mybgimg">
<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div>
              <img src="{% static 'img/bgm.jpg' %}" class="img-responsive center-block%">
{#              height=100% width=100%#}
          </div>
          {% block content %} {% endblock %}
      <br>
      <br>
      </div>
    </div>
</div>
</body>
</html>