{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div class="mmmytop2" align="center">
          <div class="mywidth ">
              <h1 style="color:red;">提交成功</h1>
          </div>
          <div class="mywidth">
              <p>战队队长姓名：{{ username }}</p>
          </div>
          <div class="mywidth">
              <p>联系方式：{{ phone_valid }}</p>
          </div>
          <div class="mywidth">
              <p>地区：{{ city }}</p>
          </div>
          <div class="mywidth">
              <p>网吧：{{ wb }}</p>
          </div>
          <div class="mywidth">
              <button onclick="location.href='http://www.pythonz.cn/zhizhu/login'" type="button"> 确定 </button>
          </div>
      </div>
{% endblock %}







