{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    {% csrf_token %}
    {{ form }}

    <select name="choice" required="" id="id_choice2">
      <option value="" selected="">选择地区</option>

      <option value="5">道里区</option>

      <option value="7">香坊区</option>

      <option value="8">动力区</option>

    </select>

    <input type="submit" value="提交" />
</form>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">

</script>

</body>
</html>