{% extends 'base.html' %}
{% load static %}

{% block content %}
      <div>
        <form class="mmmytop" action="/zhizhu/login" method="post" novalidate="novalidate">
            {% csrf_token %}
        {#    {{ form.as_p }}#}
            <div class="mywidth">
                <label >战队队长姓名：</label>
                {{ form.username }}
                {{ form.errors.username.0 }}
            </div>
            <div class="mywidth">
                <label >联系方式：</label>
                {{ form.phone }}
                {{ form.errors.phone.0 }}
            </div>
            <div class="form-group mywidth">
                <label >地区选择：</label>
                {{ form.choice }}
                {{ form.errors.choice.0 }}
            </div>
            <div class="mywidth">
                    <label for="id_city" class="control-label">选择网吧</label>
                    <select class="form-control" id="id_city" name="wb">
                            <option  selected="selected">请选择</option>
                    </select>
                    {{ wb }}
            </div>
            <div class="mybuttion ">
                <input class="btn btn-primary" type="submit" value="提交" />
            </div>
        </form>
      </div>
<script>
    $("#id_choice").change(function () {
      var countryId = $(this).val();
      $.ajax({
        url: "/zhizhu/shuju/",
        type : "get",
        data: {
          'country': countryId
        },
        success: function (data) {
          $("#id_city").html(data);
        }

      });
    });
</script>
{% endblock %}

{% block img_in %}
    <div>
           <img src="https://xiaohuaspider.oss-cn-zhangjiakou.aliyuncs.com/hongchang/shuoming.jpg" class="img-responsive center-block%">
    </div>
    <div>
           <img src="https://xiaohuaspider.oss-cn-zhangjiakou.aliyuncs.com/hongchang/wangba1.jpg" class="img-responsive center-block%">
    </div>
    <div>
           <img src="https://xiaohuaspider.oss-cn-zhangjiakou.aliyuncs.com/hongchang/wangba2.jpg" class="img-responsive center-block%">
    </div>
    <div>
           <img src="https://xiaohuaspider.oss-cn-zhangjiakou.aliyuncs.com/hongchang/wangba3.jpg" class="img-responsive center-block%">
    </div>
    <div>
           <img src="https://xiaohuaspider.oss-cn-zhangjiakou.aliyuncs.com/hongchang/wangba4.jpg" class="img-responsive center-block%">
    </div>
    <div>
           <img src="https://xiaohuaspider.oss-cn-zhangjiakou.aliyuncs.com/hongchang/wangba6.jpg" class="img-responsive center-block%">
    </div>
{% endblock %}