{% load static %}

<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/my.css' %}" >

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>login-登陆</title>
</head>


<body>
{##}
{#<div class="row">#}
{#  <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>#}
{#  <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>#}
{#</div>#}
{##}
{#<div class="bc-social">#}
{#<div class="container ">#}
{#<div class="row">#}
{#  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>#}
{#  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>#}
{#  <!-- Optional: clear the XS cols if their content doesn't match in height -->#}
{#  <div class="clearfix visible-xs-block"></div>#}
{#  <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>#}
{#</div>#}
{#</div>#}
{#</div>#}




<div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
          <div>
              <form method="post" class="mmmytop" name="login">
                  {% csrf_token %}
                  <div class="form-group mywidth">
                        <label >姓名</label>
                        <input type="text" class="form-control " id="exampleInputName2" name="username" placeholder="姓名">
                  </div>
                  <div class="form-group mywidth">
                        <label >联系方式</label>
                        <input type="text" class="form-control " id="exampleInputName2" name="phone" placeholder="联系方式">
                  </div>
                  <div class="form-group mywidth">
                        <label >网吧代码</label>
                        <input type="text" class="form-control " id="exampleInputName2" name="number" placeholder="网吧代码">
                  </div>
                  <div class="mywidth">
                      <div>
                          <label>地区选择</label>
                      </div>
                      <div class="btn-group mywidth">
                          <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                地区 <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">道理区</a></li>
                            <li><a href="#">南岗区</a></li>
                            <li><a href="#">香坊区</a></li>
                            <li><a href="#">动力区</a></li>
                          </ul>
                      </div>
                      <div class="btn-group mywidth">
                          <button type="button" class="btn btn-default dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                网吧 <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">xx网吧1</a></li>
                            <li><a href="#">xx网吧1</a></li>
                            <li><a href="#">xx网吧1</a></li>
                            <li><a href="#">xx网吧1</a></li>
                          </ul>
                      </div>
                      <div class="mybuttion">
                          <button type="submit" name="submit" > 确定登记 </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
    </div>
</div>


</body>

</html>
