{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/zhizhu/login" method="post" novalidate="novalidate">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
    <div class="form-group">
            <label for="id_city" class="control-label">选择网吧</label>
            <select class="form-control" id="id_city" name="wb">
                    <option  selected="selected">请选择</option>
            </select>
    </div>
    </p>

    <input type="submit" value="提交" />
    </p>
</form>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script>
    $("#id_choice").change(function () {
      var countryId = $(this).val();
      $.ajax({
        url: "/zhizhu/shuju/",
        type : "get",
        data: {
          'country': countryId
        },
        success: function (data) {
          $("#id_city").html(data);
        }
      });
    });
</script>

</body>
</html>